:root {
  --small: 0.9rem;
  --medium: 1.3rem;
  --big: 1.8rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: var(--small);
}
.navbar {
  padding: 2%;
  width: 100%;
  background-color: rgb(1, 1, 98);
  position: fixed;
  top: 0;
}
.menu_nasa {
  color: white;
  margin: 0;
  font-size: var(--big);
}
section {
  width: 90%;
  margin: 0 auto;
}
.title-section {
  /* display: flex; */
  background-color: rgb(1, 1, 98);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 100px;
}
.size {
  width: 90%;
  margin: 20px auto;
}
#pic-of-the-day {
  width: 90%;
  margin: 0 5%;
}
details {
  margin: 0 auto;
  padding: 20px;
}
summary {
  color: rgb(1, 1, 98);
}
#container-gallery {
  display: grid;
  width: 90%;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  margin: 20px auto;
}
.pic-element {
  align-items: center;
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.gallery-text {
  color: rgb(1, 1, 98);
  font-size: var(--small);
  text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #070707;
  background-color: rgba(0, 0, 0, 0.798); /* Black w/ opacity */
}
.modal-content {
  background-color: white;
  margin: 10% auto; /* 15% from the top and centered */
  border-radius: 10px;
  padding-bottom: 20px;
  width: 90%; /* Could be more or less, depending on screen size */
}
.padding {
  padding: 20px;
}
.close {
  border: none;
  align-items: center;
  position: relative;
  top: -30px;
  background-color: rgb(1, 1, 98);
  color: white;
  padding: 5px 15px;
  float: right;
  font-size: var(--small);
}
#modal-title {
  padding-bottom: 0px;
}
/* .container-modal-title {
  display: flex;
} */
#modal-picture {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.close:hover,
.close:focus {
  color: rgb(255, 242, 0);
  text-decoration: none;
  cursor: pointer;
}
.frecce {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.fa-solid {
  font-size: 30px;
}
#loading {
  display: none;
}
.container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.loader {
  width: 80px;
  height: 80px;
  background-color: rgb(1, 1, 98);
  border-radius: 50%;
  transform: scale(0);
  animation-duration: 1.5s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

.loader:nth-child(2) {
  animation-delay: 0.2s;
}
.loader:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  45% {
    transform: scale(1);
  }
  85% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
.loading {
  color: rgb(1, 1, 98);
  font-size: var(--big);
  text-align: center;
  margin: 200px;
  margin-bottom: 20px;
}
